@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Londrina+Outline&display=swap");
html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Londrina Outline", cursive;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $background;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cursor-grabbing {
  display: none !important;
}
.rounded {
  margin-top: 8px !important;
}
