$phones: 599px;
$tabletPortrait: 600px;
$tablet: 768px;
$tabletLandscape: 950px;
$desktop: 1170px;
$bigDesktop: 1440px;

$white: #fff;
$background-white: #ececec;
$background-disabled: #d3d3d3;
$black: #000;
$border: #3d3d3d;
$background: #dcd1b6;
$full-height: calc(var(--vh, 1vh) * 100);
